html{
		margin:0px;		
}

body{
	margin:0px;
	background-color: #e3ded3;
	font-family: "Charter";
	text-align: center;

}

table,th,td{
	border: 1px solid;
}

table{
  	border-collapse:collapse;
}

th, td {
  padding: 8px;
}

.logo{
	width: 128px;
	height: 128px;
}

#title{
	font-size: 28pt;
	width:auto;
}

.centertitle{
	text-align: center;
}

.header{
	margin-top:50px;
	margin-bottom:30px;
	padding: 20px;
	background-color:rgba(255, 255, 255, 0.3);
}

.blogheader{
	margin-top:0px;
}

a.menuchoice{
	font-size:18pt;
	text-decoration: none;
	text-align: center;
	color: black;

}
a.menuchoice:hover{
	color:#aeaeae;
	text-decoration: none;
}

.blogpost{
	max-width:600px;
	font-size:14pt;
	margin-left:auto;
	margin-right:auto;
	text-align:left;
}